body, html{
  font-family: 'Forum', cursive;
  background-image: url(../images/journal.jpeg);
  background-position: center;
  background-repeat:round;
  background-size: cover;
  font-size: 20px;
  height: 100%;

}

h1{
  font-family: 'Fredericka the Great', cursive;

}

#submit {
  background-color: #900C3F;
  color: beige;
  font-size: 15px;
  margin-top: 2em;
  padding: 5px;
}

#submit:hover {
    opacity: .55;
}

.form{
  display: flex;
  flex-direction: column;
}

input, select {
  max-width: 150px;
}

textarea {
  max-width: 300px;
}

form {
  max-width: 500px
}

ul{
  list-style: none;
}

section {
  background-color: beige;
  border: 2px dotted #900C3F;
  max-width: 600px;
  margin: 10px;
}

.mood, .concepts {
  font-weight: bold;
  font-size: .75em;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

div {
  display: flex;
  max-width: 25%;
}

.hidden {
  display: none
}

